/* General Styles */
*{
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  
}

body{
  width: 375px;
}

/* Header Style */
nav{
  background-color: #77997F;
  height: 100px;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
}

.nav-title{
  font-size: 2.2rem;
}

form{
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.search-button{
  background-color: #77997F;
  color: white;
  border: none;
}

#search-text{
  font-size: 2.2rem;
  background-color: #77997F;
  color : white;
  border: none;
  border-bottom: white solid 2px;
  margin-left:5px;
  outline:none;
}

/* DefinitionResult */
section{
  max-width: 80%;
  margin: 0 auto;
  padding: 10px ;
}

section ul{
  font-size: 62.5%;
}

.word{
  color: #77997F;
  font-size: 2.8rem;
}

.partOfSpeech{
  font-size: 2.0rem;
  font-weight: bold;
  padding-bottom: 10px;
}

.partOfSpeech > ul{
  list-style-type: disc;
  margin-left: 30px;
}

.definition{
  font-size: 1.6rem;
  font-weight: normal;
}

.example{
  font-style: italic;
  font-weight: normal;
  font-size: 1.4rem;
  margin-left: 50px;
  color: rgb(0, 0, 0);
}


@media (min-width: 600px) {

  body{
    width: 600px;
  }

  nav{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
  }

  .nav-title{
    font-size: 4rem;
  }

  /* Definition */
  section{
    max-width: 70%;
    padding: 20px ;
  }

  .word{
    font-size: 3rem;
  }

}

@media (min-width: 800px) {

  body{
    width: 100%;
  }

  /* Definition */
  section{
    max-width: 60%;
    padding: 40px ;
  }
  
  .word{
    font-size: 3.6rem;
  }
}
